# Python virtual environment
.venv/

# Environment variables
.env

# Python bytecode and cache
__pycache__/

# Logs
*.log
mails.txt

# Temporary files
*.tmp
*.temp

# IDE-specific files
.vscode/
.idea/

# Development
*.sqlite3

media/image/dp/*
!.gitkeep

media/image/product/*
!.gitkeep

